@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300&family=Salsa&display=swap');

.container-banner img{
    border-radius: 50%;
    width: 40%;
    margin-left: 25vh;
    box-shadow: #9bd5eb 0 0 7rem 0.3rem;
    animation: flotante 5s ease infinite;
}

.container-banner h1 {
    display: block;
    font-family: 'Marhey', sans-serif;
    white-space: nowrap;
    color: white;
    width: 22ch;
    animation: typing 2s steps(22), blink .5s infinite step-end alternate;
    overflow: hidden;
}

.frases {
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Salsa', cursive;
}

.fade-enter{
    opacity: 0;
}

.fade-exit{
    opacity: 1;
}

.fade-enter-active{
    opacity: 1;
}

.fade-exit-active{
    opacity: 0;
}

.fade-enter-active,
.fade-exit-active{
    transition: opacity 500ms;
}

.container-banner p{
    color: white;
    animation: fadeIn 3s;
    font-style: italic;
    text-align: center;
}

.container-banner button {
    animation: fadeIn 3s;
}

.particle-canvas {
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, #0a4105 0%,#22831a 100%);
    /* background: linear-gradient(to bottom, #2F4858 0%,#075C6E 100%); */
    vertical-align: middle;
}

@keyframes typing {
    from { width: 0;}
}

@keyframes blink {
    50%{ border: transparent;}
}

@keyframes flotante {

    0%{transform: translateY(0);}

    50%{transform: translateY(4vh);}

    100%{transform: translateY(0);}
    
}

@keyframes fadeIn {
    0% { opacity: 0;
        filter: blur(20px);
    }
    
    10%{ opacity: 1;
        filter: brightness(2) blur(10px);
    }
}

@media (max-width: 768px) {
    .container-banner{
        text-align: center;
    }
}