.container-banner img{
    border-radius: 50%;
    width: 40%;
    margin-top: 3vh;
    margin-left: 25vh;
    box-shadow: #7dc2db 0 0 6rem 0.3rem;
    animation: flotante 3s ease infinite;
}

@keyframes flotante {

    0%{transform: translateY(0);}

    50%{transform: translateY(5vh);}

    100%{transform: translateY(0);}
    
}