@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300&family=Salsa&display=swap');

.container-blog{
    background-color: rgb(101, 175, 165);
}

.container-blog span p{
    font: 1.5em 'Dancing Script', cursive;
    font-weight: bolder;
    margin-top: 2rem;
}

.container-blog a{
    background-color: rgb(38, 121, 146);
    color: white;
    font-weight: bolder;
}

.container-blog h2{
    font-family: 'Salsa', cursive;
}

.container-novedades{
    background-color:  rgb(47, 145, 175);
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    color: white;
    font-family: sans-serif;
    font-size: 1.1em;
}

.container-novedades h3{
    font-family: 'Salsa', cursive;
}



@media (max-width: 768px) {
    .container-novedades h3, p{
        text-align: center;
    }
}