@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300&family=Salsa&display=swap');

.card-container {
    height: 60vh;
    width: 29vh;
    position: relative;
    cursor: pointer;
    border: solid 1px  black;
    background: rgb(61,167,176);
    background: linear-gradient(162deg, rgba(61,167,176,1) 44%, rgba(0,80,182,1) 83%);
    color: white;
}

.card-container div {
    position: absolute;
    backface-visibility: hidden;
    transition: 1s;
    border: solid 1px black;
    height: 60vh;
    width: 29vh;
}

.card-front{
    transform: perspective(500px) rotateY(0deg);
    background: rgb(52,125,131);
    background: linear-gradient(162deg, rgba(52,125,131,1) 32%, rgba(162,96,181,1) 65%);
    width: 29vh;
}

.card-back {
    transform: perspective(500px) rotateY(180deg);
    background-color: rgba(166, 159, 172, 0.568);
    
}

.card-back .card-front h3{
    font-family: 'Marhey', sans-serif;
}

.card-container:hover .card-front{
    transform: perspective(500px) rotateY(180deg);
}

.card-container:hover .card-back{
    transform: perspective(500px) rotateY(360deg);
}

.container-list {
    list-style: none;
}

.container-list li{
    border: solid 1px black;
    background-color: white;
    border-radius: 15px;
    width: 35vh;
    box-shadow: rgba(49, 49, 49, 0.5) 0 0.8rem 0.8rem 0.2rem;
    margin: 0 0.5rem;
}

.card-image {
    width: 10vh;
}

@media (max-width: 768px) {
    
    .card-container div{
        width: auto;
    }
    .card-front div, h3{
        min-width: 26vh;
    }
    .card-back {
        max-width: auto;
    }
    .card-container{
        width: auto;
    }

}