@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300&family=Salsa&display=swap');

.image-description h3{
    font-family: 'Marhey', sans-serif;
}

.container-list {
    list-style: none;
}

.container-list li{
    border: solid 1px black;
}