.container-footer{
    background-color: rgb(12, 61, 75);
    color: white;
}

.container-footer h2 {
    font-size: 1.3rem;
}

.container-footer a {
    text-decoration: none;
    color: white;
}

.container-footer svg{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin: 0 0.8rem;
}

.Copyright{
    background-color: rgb(2, 23, 43);
}
.Copyright a{
    text-decoration: none;
    color: white;
}

.Copyright a svg{
    width: 1.3rem;
    height: 1.3rem;
    margin: 0 0.2rem;
}